footer.mastfoot.mt-auto
  div.inner
    a(href='https://github.com/ValenSampayo/trivia-sin-commits' target='_blank' class='text-center' style='font-size: 48px; color: white;')
      i(class='fa fa-github') 
    p Repositorio de Github