extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading No autorizado
    p.lead Ingrese con usuario y contraseña, podes crearte uno en el boton que dice Registrarse.
    p.lead
      a.btn.btn-lg.btn-secondary(href='/register') Registrarse 
